
footer{
    background: var(--main-hover-color);
    padding: 1rem;
    box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 50%);
    transition: var(--transition);
}
footer .nav_menu{
    justify-content: center;
}
footer .socials{
    width: fit-content;
    display: flex;
    gap: 1.5rem;
    margin: 1rem auto 0rem;

}
footer .socials a{
   
    font-size: 1.5rem;
    padding: 0.6rem;
    display: flex;
    border-radius: var(--border-radius-3);
    transition: var(--transition);
    
}
footer .socials a:hover{
    opacity: 0.7;
    transform: translateY(-0.5rem);
    background: var(--color-black);
}
footer .date{
    text-align: center;
    margin: 1rem 1rem;
}