#testimonials{
    margin-bottom: 0;
}
.swiper{
    padding-top: 2rem;
    height: 25rem; 
}

.swiper-slide{
    cursor: grab;
}
.testimonials_clients{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}
.testimonial_images{
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-2);
    transition: var(--transition);
    overflow: hidden;
}
/* .swiper-pagination{
    display: none;
} */
.swiper-pagination-bullet{
    background: var(--color-primary);
    
}

