#testimonials{
    margin: 0;
    padding: 2rem;
}
#testimonials h2{
    text-align: center;
    margin-top: 4rem;
}
.swiper{
    padding-top: 2rem;
    padding-right: 1rem;
    height: 25rem; 
}
.test_container{
    padding: 2rem 4rem;
    margin: 0;
}

.swiper-slide{
    cursor: grab;
}
.testimonials_clients{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}
.testimonial_images{
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-2);
    transition: var(--transition);
    overflow: hidden;
}
/* .swiper-pagination{
    display: none;
} */
.swiper-pagination-bullet{
    background: var(--main-hover-color);
    
}
@media screen and (max-width : 600px) {

    #testimonials p{
        width: 100%;
        padding: 1rem;
    }
    #testimonials{
    
        padding: 2rem 0;
        padding-right: 1rem;
    }
    .test_container{
        width: 100%;
    
        margin: 0;  
        padding: 1rem;
    }
    
}
@media screen and (max-width : 1024px) {

    #testimonials p{
        width: 100%;
        padding: 1rem;
    }
    #testimonials{
    
        padding: 2rem 0;
        padding-right: 1rem;
    }
    .test_container{
        width: 100%;
    
        margin: 0;  
        padding: 1rem;
    }
    
}
