
.contact_container{
    display: flex;
	justify-content: center;
    margin-top: 3rem;
    position: relative;
    left: 20%;
}
form{
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}
input{
    width: 50%;
    height: 40px;
    padding: 7px;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(220, 220, 220);
    background: var(--color-light);
}
input:hover{
    border-color: var(--main-hover-color);
  }
textarea {
    max-width: 100%;
    min-width: 50%;
    width: 50%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(220, 220, 220);
    background: var(--color-light);
  }
  textarea:hover{
    border-color: var(--main-hover-color);
  }
  label {
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }
  button {
    margin-top: 1.5rem;
  }
@media screen and (max-width:600px) {

  .contact_container{
    display: flex;
	justify-content: center;
    margin-top: 3rem;
    position: relative;
    left: 0%;
  }
  form textarea{
    width: 100%;
  }
  input{
    width: 100%;
  }
  
}
@media screen and (max-width:1024px) {


  .contact_container{
    display: flex;
	justify-content: center;
    margin-top: 3rem;
    position: relative;
    left: 10%;
  }
  form textarea{
    width: 80%;
  }
  input{
    width: 80%;
  }
}