#education h2{
  text-align: center;
}
.qualification{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  
}
.education_container{
  display: flex;  
  align-items: center ;
  flex-direction: column;
  margin-bottom: 4rem;
  gap: 0.1rem;
}

.experience_container {
  display: flex;  
align-items: center ;
flex-direction: column;
}
.experience{
    display: flex;  
    align-items: flex-start;
    gap: 1rem;
    margin-top: 4rem;
    
}
.education{
  display: flex;  
  align-items: flex-start ;
  gap: 1rem;
  margin-top: 4rem;
  width: 70%;
}
.edu_icon{
    background: var(--main-hover-color);
    color: var(--color-white);
    padding: 0.6rem;
    border-radius: var(--border-radius-3);
    font-size: 1.3rem;
    display: flex;
    transition: var(--transition);
  }

.exp_icon{
      width: 3rem;
      transition: var(--transition);
}
  .education:hover .edu_icon{
    background: var(--color-white);
    color: var(--color-black);
  }
  
  
  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 80%;
    background-color: #ccc;
  }

@media screen and (max-width : 1024px) { 
  
.line{
  display: none;
}
.qualification{
  grid-template-columns: 1fr;

}
.qualification > div {
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.experience{
  width: 70%;
  align-content: center;

}
.experience_container h3 {
  margin-bottom: 2rem;
}
.education{
  width: 70%;
  align-content: center;
  margin: 1.5rem 0;
}
.education_container h3{
    margin-bottom: 2rem;
}
}

@media screen and (max-width : 600px) {
 
  .qualification{
    grid-template-columns: 1fr;
  }
  .qualification > div {
    width: 100%;
    padding: 1.5rem;
    margin: 0 auto;
  }
  .experience{
    width: 100%;
  }
  .education{
    width: 100%;
  }

}